.carousel__track-container {
  position: relative;
  width: 100%;
  height: 500px;
  margin: 0 auto;
}

.carousel__track {
  width: 100%;
  height: 100%;
}

.carousel__slide {
  width: 100%;
  height: 100%;
  position: absolute;
  transition-timing-function: ease-in-out;
}

.current__slide {
  z-index: 1;
}

.carousel__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

.carousel__button--left {
  left: 15px;
}

.carousel__button--right {
  right: 15px;
}

.carousel__button--icon {
  font-size: 24px;
}
