/* .App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

nav div {
  display: flex;
  align-items: center;
}

nav div a {
  padding: 10px;
  color: antiquewhite;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

header div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

header div div {
  display: flex;
  flex-direction: column;
} */
